﻿@model IEnumerable<MVCDemo3.Models.Movies>

@{
    ViewBag.Title = "Movies List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1>A simple list will be displayed on this page</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <b><p>@item.name</p></b>
        <p>@item.actor</p>
        
        
        <hr />
        <br />
    }
</div>